*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  /* Primary */
  --soft-red: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --dark-desaturated-cyan: hsl(167, 40%, 24%); /*(graphic design text)*/
  --dark-blue: hsl(198, 62%, 26%); /*(photography text) */
  --dark-moderate-cyan: hsl(168, 34%, 41%); /* (footer) */
  /* Neutral */
  --very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --very-dark-grayish-blue: hsl(213, 9%, 39%);
  --dark-grayish-blue: hsl(232, 10%, 55%);
  --grayish-blue: hsl(210, 4%, 67%);
  --White: hsl(0, 0%, 100%);
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Barlow", sans-serif;
  margin: 0;
  font-size: 1.5rem;
}

h1,
h2,
h3 {
  font-family: "Fraunces", serif;
  font-weight: 900;
}

/* Header ********************************** */
.header {
  color: var(--White);
  padding: 2rem;
  background: url(./images/mobile/image-header.jpg);
  min-height: 600px;
  object-fit: cover;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.navbar-sunnyside {
  font-size: 2.2rem;
  font-weight: 900;
  cursor: pointer;
}

.navbar-links {
  margin: 0;
  height: 3rem;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-around;
  align-items: center;
  width: 450px;
  cursor: pointer;
}

.display-big-devices {
  display: none;
}

.navbar-links > * {
  padding: 1rem 1.5rem;
  border-radius: 2rem;
  text-align: center;
  flex-basis: 100px;
  text-transform: capitalize;
  transition: all 0.2s ease-in;
  font-weight: 700;
  opacity: 0.9;
}

.navbar-links > *:hover {
  background: rgba(255, 255, 255, 0.329);
}

.navbar-links > *:active {
  color: var(--very-dark-desaturated-blue);
  background: var(--White);
}

.navbar-icon {
  background: url(./images/icon-hamburger.svg);
  object-fit: fill;
  width: 2.1rem;
  height: 1.8rem;
  cursor: pointer;
}

.display-small-devices {
  display: block;
}

.main-heading {
  width: 100%;
  margin: 6rem auto;
  font-size: 4rem;
  letter-spacing: 0.4rem;
  text-align: center;
}

.main-heading::after {
  content: "";
  position: absolute;
  background: url(./images/icon-arrow-down.svg);
  background-repeat: no-repeat;
  background-size: 3rem 10rem;
  width: 3rem;
  height: 11rem;
  left: calc(50% - 2rem);
  top: 320px;
}

@media screen and (min-width: 700px) {
  .header {
    background: url(./images/desktop/image-header.jpg);
    background-size: 100% 100%;
  }
  .main-heading::after {
    top: 250px;
  }

  .display-big-devices {
    display: flex;
  }

  .display-small-devices {
    display: none;
  }
}
/* END of Header ********************************** */

/* Main ********************************** */
.main-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  text-align: center;
}

.egg-picture {
  background: url(./images/mobile/image-transform.jpg);
}

.pink-cup-picture {
  background: url(./images/mobile/image-stand-out.jpg);
}

.cherry-picture {
  background: url(./images/mobile/image-graphic-design.jpg);
}

.orange-picture {
  background: url(/images/mobile/image-photography.jpg);
}

.main-grid-picture {
  max-width: 100%;
  min-height: 300px;
  background-size: 100% 100% !important;
}

.main-grid-text {
  padding: 2.5rem 3.6rem;
}

.main-grid-text > h2 {
  margin: 2rem auto;
  font-size: 3rem;
  color: var(--very-dark-desaturated-blue);
}

.first-texts {
  color: var(--grayish-blue);
  font-weight: 600;
  line-height: 1.8;
}

.learn-more-first,
.learn-more-second {
  font-family: "Fraunces", serif;
  font-weight: 900;
  color: var(--very-dark-desaturated-blue);
  margin: 3rem auto;
  width: 13rem;
  position: relative;
  z-index: 1;
}

.second-texts {
  height: 520px;
  padding-top: 32rem;
  line-height: 1.5;
}

.graphic-design-article > h2,
.graphic-design-article > p {
  color: var(--dark-desaturated-cyan);
}

.photograph-article > h2,
.photograph-article > p {
  color: var(--dark-blue);
}

.second-texts h2 {
  opacity: 0.7;
}

.second-texts p {
  letter-spacing: 0.05rem;
  opacity: 0.5;
}

@media screen and (min-width: 680px) {
  .main-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 350px 350px 350px;
    text-align: left;
  }

  .transform-your-brand {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .transform-your-brand,
  .stand-out {
    justify-self: center;
    align-self: center;
    width: 70%;
  }

  .first-texts {
    font-size: 1.2rem;
  }

  .learn-more-first,
  .learn-more-second {
    margin: 3rem 1rem;
    font-size: 1.3rem;
  }

  .learn-more-first::after,
  .learn-more-second::after {
    content: "";
    position: absolute;
    width: 85%;
    height: 0.8rem;
    bottom: 0;
    left: -1.1rem;
    border-radius: 1rem;
    z-index: -1;

    transform: scaleX(0);
    transform-origin: right;
    transition: transform 250ms ease-in;
  }

  .learn-more-first::after {
    background: var(--yellow);
  }

  .learn-more-second::after {
    background: var(--soft-red);
  }

  .learn-more-first:hover::after,
  .learn-more-second:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }

  .second-texts {
    height: 100%;
    padding-top: 40%;
    align-self: bottom;
    text-align: center;
  }

  .second-texts h2 {
    font-size: 2.2rem;
  }

  .second-texts p {
    font-size: 1.2rem;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
  .cherry-picture {
    background: url(./images/desktop/image-graphic-design.jpg);
  }

  .orange-picture {
    background: url(/images/desktop/image-photography.jpg);
  }
}

@media screen and (min-width: 1000px) {
  .main-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 500px 500px 500px;
  }

  .second-texts {
    padding-top: 45%;
  }

  .second-texts h2 {
    font-size: 2.4rem;
  }
  .second-texts p {
    font-size: 1.4rem;
    width: 50%;
  }

  .egg-picture {
    background: url(./images/desktop/image-transform.jpg);
    grid-column: 2 / 3;
  }

  .pink-cup-picture {
    background: url(./images/desktop/image-stand-out.jpg);
  }

  .cherry-picture {
    background: url(./images/desktop/image-graphic-design.jpg);
  }

  .orange-picture {
    background: url(/images/desktop/image-photography.jpg);
  }
}
/* END of Main ********************************** */

/* Client Testimonial ********************************** */
.client-testimonial-container {
  text-align: center;
  padding: 4rem 2.5rem;
}

.client-testimonial-header {
  color: var(--grayish-blue);
  font-size: 1.4rem;
  letter-spacing: 0.5rem;
}

.clients-container {
  display: flex;
  flex-direction: column;
  margin: 1rem 0 2rem;
}

.client {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}

.emilly-img {
  background: url(./images/image-emily.jpg);
}

.jennie-img {
  background: url(./images/image-jennie.jpg);
}

.thomas-img {
  background: url(./images/image-thomas.jpg);
}

.client-img {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  background-size: 6rem;
  background-repeat: no-repeat;
}

.client-description {
  color: var(--very-dark-desaturated-blue);
  opacity: 0.7;
  font-size: 1.2rem;
  line-height: 2;
  letter-spacing: 0.09rem;
  font-weight: 600;
  margin-top: 2rem;
}

.client-name {
  color: var(--very-dark-desaturated-blue);
  margin: 0.5rem 0 1rem;
}

.client-job {
  color: var(--grayish-blue);
  margin-top: 0;
  font-size: 1.2rem;
  letter-spacing: 0.09rem;
}

@media screen and (min-width: 700px) {
  .client-testimonial-container {
    padding: 8rem 10%;
  }

  .client-testimonial-header {
    font-size: 1.6rem;
  }

  .clients-container {
    flex-direction: row;
    justify-content: space-around;
  }

  .client {
    justify-content: space-between;
  }

  .client-img {
    width: 5rem;
    height: 5rem;
    background-size: 5rem;
  }

  .client-description {
    margin-top: 4rem;
    font-size: 1rem;
    width: 80%;
  }

  .client-name {
    margin-top: 5rem;
  }
}

@media screen and (min-width: 1000px) {
  .client-description {
    font-size: 1.1rem;
  }
}
/* END of Client Testimonial ********************************** */

/* Aside images ********************************** */

.aside-img-container {
  display: flex;
  flex-wrap: wrap;
}

.milkbottles-img {
  background: url(./images/mobile/image-gallery-milkbottles.jpg);
}

.orange-img {
  background: url(./images/mobile/image-gallery-orange.jpg);
}

.cone-img {
  background: url(./images/mobile/image-gallery-cone.jpg);
}

.sugar-cubes-img {
  background: url(./images/mobile/image-gallery-sugar-cubes.jpg);
}

.aside-img {
  width: 50%;
  height: 200px;
  background-size: 100% 100%;
}

@media screen and (min-width: 700px) {
  .milkbottles-img {
    background: url(./images/desktop/image-gallery-milkbottles.jpg);
  }

  .orange-img {
    background: url(./images/desktop/image-gallery-orange.jpg);
  }

  .cone-img {
    background: url(./images/desktop/image-gallery-cone.jpg);
  }

  .sugar-cubes-img {
    background: url(./images/desktop/image-gallery-sugarcubes.jpg);
  }

  .aside-img {
    height: 280px;
    width: 25%;
    background-size: 100% 100%;
  }
}
@media screen and (min-width: 1000px) {
  .aside-img {
    height: 400px;
  }
}

/* END of Aside images **************************  */

/* Footer  ********************************** */
.footer {
  padding: 3rem 3rem;
  background: hsl(168, 87%, 77%);
  color: var(--dark-moderate-cyan);
}

.footer-header {
  font-family: "Barlow", sans-serif;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 900;
  letter-spacing: 0.1rem;
  margin: 1rem auto;
  cursor: pointer;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  width: 31.5rem;
  padding: 0;
  margin: 3rem auto 0;
}

.footer-link {
  cursor: pointer;
  letter-spacing: 0.08rem;
  transition: color 0.4s linear;
}

.footer-link:hover {
  color: var(--White);
}

.footer-social-media-links {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
  width: 20rem;
  margin: 6rem auto 2rem;
}

.facebook-icon {
  background: url(./images/icon-facebook.svg);
}

.instagram-icon {
  background: url(./images/icon-instagram.svg);
}

.twitter-icon {
  background: url(./images/icon-twitter.svg);
}

.pinterest-icon {
  background: url(./images/icon-pinterest.svg);
}

.facebook-icon,
.instagram-icon,
.twitter-icon,
.pinterest-icon {
  transition: all 0.4s linear;
}

.facebook-icon:hover {
  background: url(./images/icon-facebook-white.svg);
}

.instagram-icon:hover {
  background: url(./images/icon-instagram-white.svg);
}

.twitter-icon:hover {
  background: url(./images/icon-twitter-white.svg);
}

.pinterest-icon:hover {
  background: url(./images/icon-pinterest-white.svg);
}

.facebook-icon:hover,
.instagram-icon:hover,
.twitter-icon:hover,
.pinterest-icon:hover {
  background-size: 100% 100%;
}

.social-media-img {
  width: 1.7rem;
  height: 1.7rem;
  background-size: 100% 100%;
  cursor: pointer;
}

/* END of Footer ********************************** */
